@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #212020;
  --brand-blue: #3970EB;
  --space-gray: #F6F6F6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-blue: var(--brand-blue);
  --color-space-gray: var(--space-gray);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Monda', sans-serif;
  font-weight: 500;
}
